.staticMenuItemStyle {
text-align:center;
display:block;
padding-left:2px;
padding-right:2px;
margin-left:35px;
color:Black;
}

.staticMenuItemSelectedStyle {
border:solid 1px #000;
}

.menuItem {
display:block;
background: #000 url(../Imagenes/Menu/bg_gris.gif) 10px center; /* Color e Imagen de Fondo de las opciones sin Seleccionar*/

}

.dynamicMenuItemStyle {
border:solid 1px #000;  
z-index:200;
position:relative;
background: #000 url(../Imagenes/Menu/bg_gris.gif) 10px center; /* Color e Imagen de Fondo de las opciones sin Seleccionar*/
min-width:120px;
}

.dynamicMenuItemStyle {
border:solid 1px #000;  
z-index:200;
position:relative;
background: #000 url(../Imagenes/Menu/bg_gris.gif) 10px center; /* Color e Imagen de Fondo de las opciones sin Seleccionar*/
height:20px;
padding: 1px 2px 1px 3px;
}

.background {
    border:solid 1px #000;
    background: url(../Imagenes/Menu/bg_options.gif) repeat-x;
    height:30px;       
}

.NavigationMenu 
{
    list-style: none;
	padding: 0 20px;	
	margin: 0;
	font: 11pt normal Arial, Helvetica, sans-serif;
	float: left;
	width: 97%;
	z-index:101;
}

#h {
padding:5px 0 6px 10px;
}

#e {
border:solid 1px #919191;
background: url(../Imagenes/Menu/bg_blue.gif) repeat-x;
padding:0 0 1px;
}

.menuItemMouseOver,.menuItemSelected {
border:solid 1px Navy;
background: url(../Imagenes/Menu/bg_blue.gif) repeat-x;
}

.NavigationMenu A:link,.NavigationMenu A:visited,.NavigationMenu A:active {
    text-decoration:none;
    color:#e3e3e3;
    display:block;
}
.NavigationMenu A:hover
{
    text-decoration:none;
    color:Black;
    display:block;
}

.currentNodeStyle,.nodeStyle,.rootNodeStyle,a.siteMapPath {
text-decoration:none;
text-transform:capitalize;
font: 12px normal Arial, Helvetica, sans-serif;
}


























/* Esta parte define como se muestran las opciones principales */
ul.topnav {
	list-style: none;
	padding: 0 20px;	
	margin: 0;
	font: 12px normal Arial, Helvetica, sans-serif;
	float: left;
	width: 97%;
	background: url(../Imagenes/Menu/bg_options.gif) repeat-x;
}
ul.topnav li {
	float: left;
	margin: 0;	
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base--*/
}
ul.topnav li a{
	padding: 10px 5px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li a:hover{
	background: url(../Imagenes/Menu/brillo.gif) repeat-x;  /*no-repeat center top;*/
}
ul.topnav li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
	background: url(../Imagenes/Menu/subnav_btn.gif) no-repeat center top;
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/

/* Efectos en los cuadros de las opciones principales */
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border: 1px solid #111;
}

/* Lo siguiente crea los efectos en los cuadros de las subopciones*/
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Crea el efecto bevel --*/
	border-bottom: 1px solid #444; /*--Crea el efecto bevel --*/
	clear: both;
	width: 170px;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	background: #333 url(../Imagenes/Menu/dropdown_linkbg.gif) no-repeat 10px center; /* Color e Imagen de Fondo de las opciones sin Seleccionar*/
	padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #222 url(../Imagenes/Menu/dropdown_linkbg.gif) no-repeat 10px center;  /* Color e Imagen de la opcion al ser seleccionada */
}