################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/Source/TalleresWeb/PetroleraManager.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/TalleresWeb/.vs/TalleresWeb/v17/.suo
/Source/TalleresWeb/.vs/TalleresWeb/v17/DocumentLayout.json
/Source/TalleresWeb/TalleresWeb.Entities/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/TalleresWeb/PetroleraManagerIntranet.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SharedAssemblies/TalleresWeb.Entities.pdb
/Source/PL.Fwk/PL.Fwk.BusinessLogic/.vs/PL.Fwk.BusinessLogic.csproj.dtbcache.json
/Source/PL.Fwk/PL.Fwk.DataAccess/.vs/PL.Fwk.DataAccess.csproj.dtbcache.json
/Source/PL.Fwk/PL.Fwk.Presentation.Web/.vs/PL.Fwk.Presentation.Web.csproj.dtbcache.json
/Source/TalleresWeb/PetroleraManager.Web/.vs/PetroleraManager.Web.csproj.dtbcache.json
/Source/TalleresWeb/PetroleraManager.Web/obj/Debug/PetroleraManager.Web.csproj.AssemblyReference.cache
/Source/TalleresWeb/PetroleraManager.WebApi/.vs/PetroleraManager.WebApi.csproj.dtbcache.json
/Source/TalleresWeb/PetroleraManager.WebApi/bin/TalleresWeb.Entities.pdb
/Source/TalleresWeb/PetroleraManagerIntranet.Web/.vs/PetroleraManagerIntranet.Web.csproj.dtbcache.json
/Source/TalleresWeb/PetroleraManagerIntranet.Web/bin/TalleresWeb.Entities.pdb
/Source/TalleresWeb/PetroleraManagerIntranet.Web/obj/Debug/PetroleraManagerIntranet.Web.csproj.AssemblyReference.cache
/Source/TalleresWeb/PetroleraManagerIntranet.Web/obj/Debug/PetroleraManagerIntranet.Web.dll
/Source/TalleresWeb/PetroleraManagerIntranet.Web/obj/Debug/PetroleraManagerIntranet.Web.pdb
/Source/TalleresWeb/PetroleraManagerIntranet.Web/temp
/Source/TalleresWeb/TalleresWeb.DataAccess/.vs/TalleresWeb.DataAccess.csproj.dtbcache.json
/Source/TalleresWeb/TalleresWeb.Logic/.vs/TalleresWeb.Logic.csproj.dtbcache.json
/Source/TalleresWeb.Web/TalleresWeb.Web.Logic/obj/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/SharedAssemblies
/Source/DLL_Shared
/Source/PL.Fwk/PL.Fwk.BusinessLogic/obj/Debug
/Source/PL.Fwk/PL.Fwk.DataAccess/obj/Debug
/Source/PL.Fwk/PL.Fwk.Entities/obj/Debug/PL.Fwk.Entities.csproj.FileListAbsolute.txt
/Source/PL.Fwk/PL.Fwk.Presentation.Web/obj/Debug
/Source/TalleresWeb/PetroleraManager.Web/bin
/Source/TalleresWeb/PetroleraManager.Web/obj/Debug
/Source/TalleresWeb/PetroleraManager.WebApi/bin/PetroleraManager.WebApi.dll
/Source/TalleresWeb/PetroleraManager.WebApi/bin/PetroleraManager.WebApi.pdb
/Source/TalleresWeb/PetroleraManager.WebApi/bin/PL.Fwk.BusinessLogic.dll
/Source/TalleresWeb/PetroleraManager.WebApi/bin/PL.Fwk.BusinessLogic.pdb
/Source/TalleresWeb/PetroleraManager.WebApi/bin/PL.Fwk.DataAccess.dll
/Source/TalleresWeb/PetroleraManager.WebApi/bin/PL.Fwk.DataAccess.pdb
/Source/TalleresWeb/PetroleraManager.WebApi/bin/TalleresWeb.DataAccess.dll
/Source/TalleresWeb/PetroleraManager.WebApi/bin/TalleresWeb.DataAccess.pdb
/Source/TalleresWeb/PetroleraManager.WebApi/bin/TalleresWeb.Entities.dll
/Source/TalleresWeb/PetroleraManager.WebApi/bin/TalleresWeb.Logic.dll
/Source/TalleresWeb/PetroleraManager.WebApi/bin/TalleresWeb.Logic.pdb
/Source/TalleresWeb/PetroleraManager.WebApi/bin/TalleresWeb.Web.Cross.Configuracion.dll
/Source/TalleresWeb/PetroleraManager.WebApi/bin/TalleresWeb.Web.Cross.Configuracion.pdb
/Source/TalleresWeb/PetroleraManager.WebApi/obj/Debug/PetroleraManager.WebApi.csproj.AssemblyReference.cache
/Source/TalleresWeb/PetroleraManager.WebApi/obj/Debug/PetroleraManager.WebApi.csproj.CoreCompileInputs.cache
/Source/TalleresWeb/PetroleraManager.WebApi/obj/Debug/PetroleraManager.WebApi.csproj.FileListAbsolute.txt
/Source/TalleresWeb/PetroleraManager.WebApi/obj/Debug/PetroleraManager.WebApi.dll
/Source/TalleresWeb/PetroleraManager.WebApi/obj/Debug/PetroleraManager.WebApi.pdb
/Source/TalleresWeb/PetroleraManagerIntranet.Web/bin/PetroleraManagerIntranet.Web.dll
/Source/TalleresWeb/PetroleraManagerIntranet.Web/bin/PetroleraManagerIntranet.Web.dll.config
/Source/TalleresWeb/PetroleraManagerIntranet.Web/bin/PetroleraManagerIntranet.Web.pdb
/Source/TalleresWeb/PetroleraManagerIntranet.Web/bin/PL.Fwk.BusinessLogic.dll
/Source/TalleresWeb/PetroleraManagerIntranet.Web/bin/PL.Fwk.BusinessLogic.pdb
/Source/TalleresWeb/PetroleraManagerIntranet.Web/bin/PL.Fwk.DataAccess.dll
/Source/TalleresWeb/PetroleraManagerIntranet.Web/bin/PL.Fwk.DataAccess.pdb
/Source/TalleresWeb/PetroleraManagerIntranet.Web/bin/PL.Fwk.Presentation.Web.dll
/Source/TalleresWeb/PetroleraManagerIntranet.Web/bin/PL.Fwk.Presentation.Web.pdb
/Source/TalleresWeb/PetroleraManagerIntranet.Web/bin/TalleresWeb.DataAccess.dll
/Source/TalleresWeb/PetroleraManagerIntranet.Web/bin/TalleresWeb.DataAccess.pdb
/Source/TalleresWeb/PetroleraManagerIntranet.Web/bin/TalleresWeb.Entities.dll
/Source/TalleresWeb/PetroleraManagerIntranet.Web/bin/TalleresWeb.Logic.dll
/Source/TalleresWeb/PetroleraManagerIntranet.Web/bin/TalleresWeb.Logic.pdb
/Source/TalleresWeb/PetroleraManagerIntranet.Web/bin/TalleresWeb.Web.Cross.Configuracion.dll
/Source/TalleresWeb/PetroleraManagerIntranet.Web/bin/TalleresWeb.Web.Cross.Configuracion.pdb
/Source/TalleresWeb/PetroleraManagerIntranet.Web/obj/Debug/PetroleraManagerIntranet.Web.csproj.CoreCompileInputs.cache
/Source/TalleresWeb/PetroleraManagerIntranet.Web/obj/Debug/PetroleraManagerIntranet.Web.csproj.FileListAbsolute.txt
/Source/TalleresWeb/TalleresWeb.Entities/obj/Debug/TalleresWeb.Entities.csproj.AssemblyReference.cache
/Source/TalleresWeb/TalleresWeb.Entities/obj/Debug/TalleresWeb.Entities.csproj.CoreCompileInputs.cache
/Source/TalleresWeb/TalleresWeb.Entities/obj/Debug/TalleresWeb.Entities.csproj.FileListAbsolute.txt
/Source/TalleresWeb/TalleresWeb.Entities/obj/Debug/TalleresWeb.Entities.dll
/Source/TalleresWeb/TalleresWeb.Entities/obj/Debug/TalleresWeb.Entities.pdb
/Source/TalleresWeb.Web/TalleresWeb.Web.Cross.Configuracion/obj/Debug/TalleresWeb.Web.Cross.Configuracion.csproj.AssemblyReference.cache
/Source/TalleresWeb.Web/TalleresWeb.Web.Cross.Configuracion/obj/Debug/TalleresWeb.Web.Cross.Configuracion.csproj.CoreCompileInputs.cache
/Source/TalleresWeb.Web/TalleresWeb.Web.Cross.Configuracion/obj/Debug/TalleresWeb.Web.Cross.Configuracion.csproj.FileListAbsolute.txt
/Source/TalleresWeb.Web/TalleresWeb.Web.Cross.Configuracion/obj/Debug/TalleresWeb.Web.Cross.Configuracion.dll
/Source/TalleresWeb.Web/TalleresWeb.Web.Cross.Configuracion/obj/Debug/TalleresWeb.Web.Cross.Configuracion.pdb
/Source/TalleresWeb.Web/TalleresWeb.Web.Cross.Configuracion/bin/Debug/TalleresWeb.Web.Cross.Configuracion.dll
/Source/TalleresWeb.Web/TalleresWeb.Web.Cross.Configuracion/bin/Debug/TalleresWeb.Web.Cross.Configuracion.pdb
/Source/TalleresWeb/TalleresWeb.DataAccess/obj/Debug/TalleresWeb.DataAccess.csproj.AssemblyReference.cache
/Source/TalleresWeb/TalleresWeb.DataAccess/obj/Debug/TalleresWeb.DataAccess.csproj.CoreCompileInputs.cache
/Source/TalleresWeb/TalleresWeb.DataAccess/obj/Debug/TalleresWeb.DataAccess.csproj.FileListAbsolute.txt
/Source/TalleresWeb/TalleresWeb.DataAccess/obj/Debug/TalleresWeb.DataAccess.dll
/Source/TalleresWeb/TalleresWeb.DataAccess/obj/Debug/TalleresWeb.DataAccess.pdb
/Source/TalleresWeb/TalleresWeb.Logic/obj/Debug
/Source/TalleresWeb/.vs/TalleresWeb/v17/fileList.bin
/Source/TalleresWeb/.vs/TalleresWeb/v17/HierarchyCache.v1.txt
/Source/TalleresWeb/.vs/TalleresWeb/CopilotIndices/17.14.878.3237
/Source/TalleresWeb/.vs/TalleresWeb/v17/DocumentLayout.backup.json
*.force
/Source/TalleresWeb/PetroleraManager.WebApi/obj/Release
/Source/TalleresWeb/PetroleraManagerIntranet.Web/obj/Release
/Source/TalleresWeb/TalleresWeb.DataAccess/obj/Release
/Source/TalleresWeb/TalleresWeb.Logic/obj/Release
