################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/Source/TalleresWeb/.vs/TalleresWeb/v17/.suo
/Source/TalleresWeb/.vs/TalleresWeb/v17/DocumentLayout.json
/Source/TalleresWeb/.vs/TalleresWeb/v17/fileList.bin
/Source/TalleresWeb/PetroleraManager.WebApi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/TalleresWeb/PetroleraManager.WebApi/obj/Debug/PetroleraManager.WebApi.csproj.AssemblyReference.cache
/Source/TalleresWeb/PetroleraManagerIntranet.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/TalleresWeb/PetroleraManagerIntranet.Web/obj/Debug/PetroleraManagerIntranet.Web.csproj.AssemblyReference.cache
/Source/TalleresWeb/TalleresWeb.DataAccess/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/TalleresWeb/TalleresWeb.DataAccess/obj/Debug/TalleresWeb.DataAccess.csproj.AssemblyReference.cache
/Source/TalleresWeb/TalleresWeb.Entities/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/TalleresWeb/TalleresWeb.Entities/obj/Debug/TalleresWeb.Entities.csproj.AssemblyReference.cache
/Source/TalleresWeb.Web/TalleresWeb.Web.Cross.Configuracion/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/TalleresWeb.Web/TalleresWeb.Web.Cross.Configuracion/obj/Debug/TalleresWeb.Web.Cross.Configuracion.csproj.AssemblyReference.cache
/Source/TalleresWeb.Web/TalleresWeb.Web.Logic/obj/Release
/Source/TalleresWeb/TalleresWeb.Logic/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/TalleresWeb/TalleresWeb.Logic/obj/Debug/TalleresWeb.Logic.csproj.AssemblyReference.cache
/Source/PL.Fwk/PL.Fwk.BusinessLogic/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/PL.Fwk/PL.Fwk.BusinessLogic/obj/Debug/PL.Fwk.BusinessLogic.csproj.AssemblyReference.cache
/Source/PL.Fwk/PL.Fwk.DataAccess/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/PL.Fwk/PL.Fwk.DataAccess/obj/Debug/PL.Fwk.DataAccess.csproj.AssemblyReference.cache
/Source/PL.Fwk/PL.Fwk.Entities/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/PL.Fwk/PL.Fwk.Presentation.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/PL.Fwk/PL.Fwk.Presentation.Web/obj/Debug/PL.Fwk.Presentation.Web.csproj.AssemblyReference.cache
/Source/TalleresWeb/PetroleraManager.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/TalleresWeb/PetroleraManager.Web/obj/Debug/PetroleraManager.Web.csproj.AssemblyReference.cache
/Source/TalleresWeb.Web/TalleresWeb.Web.UI/Properties/PublishProfiles/PublishWeb.pubxml
/Source/TalleresWeb.Web/TalleresWeb.Web.UI/Properties/PublishProfiles/PublishWeb.pubxml.user
/Source/TalleresWeb/.vs/TalleresWeb/CopilotIndices/17.14.878.3237
/Source/TalleresWeb/.vs/TalleresWeb/v17
/Source/TalleresWeb/PetroleraManager.Web/.vs
/Source/TalleresWeb/PetroleraManager.WebApi/.vs
*.pdb
*.force
/Source/TalleresWeb/PetroleraManager.WebApi/obj/Release/PetroleraManager.WebApi.csproj.AssemblyReference.cache
/Source/TalleresWeb/PetroleraManagerIntranet.Web/.vs/PetroleraManagerIntranet.Web.csproj.dtbcache.json
/Source/TalleresWeb/PetroleraManagerIntranet.Web/obj/Release/Petroler.BCDFFF4C.Up2Date
/Source/TalleresWeb/PetroleraManagerIntranet.Web/obj/Release/PetroleraManagerIntranet.Web.csproj.AssemblyReference.cache
/Source/TalleresWeb/PetroleraManagerIntranet.Web/temp
/Source/TalleresWeb/TalleresWeb.DataAccess/.vs
/Source/TalleresWeb/TalleresWeb.DataAccess/obj/Release
/Source/TalleresWeb/TalleresWeb.Logic/obj/Release
/Source/TalleresWeb/TalleresWeb.Logic/.vs
/Source/DLL_Shared/Microsoft.Azure.KeyVault.Core.dll
/Source/DLL_Shared/Microsoft.Data.Services.Client.xml
*.Up2Date
