<?xml version="1.0" encoding="utf-8"?>
<appSettings>

  <add key="LOGOEMPRESA" value="Images/logo.png"/>
  <add key="RAZONSOCIALEMPRESA" value="Petrolera ItaloArgentina S.R.L."/>
  <add key="CUITEMPRESA" value="30-71191657-8"/>
  <add key="DOMICILIOEMPRESA" value="LAgos 4000"/>
  <add key="LOCALIDADEMPRESA" value="(2000) Rosario - Santa Fe"/>
  <add key="IIBBEMPRESA" value="9215704316"/>
  <add key="IVAEMPRESA" value="Responsable Inscripto"/>
  <add key="NROAGRETENCIONIIBB" value="450-003450-1"/>

  <add key="FORMATONUMERICO2D" value="0.00"/>
  <add key="FORMATONUMERICO" value="0.0000"/>

  <add key="COPIASFACTURAVENTA" value="2"/>
  <add key="COPIASREMITOVENTA" value="2"/>
  <add key="COPIASPAGO" value="2"/>
  <add key="COPIASCERTIFIIBB" value="2"/>
  <add key="COPIASCOBRANZA" value="2"/>
  <add key="COPIASPEDIDOS" value="1"/>
  <add key="RENGLONESFACTURA" value="20"/>

  <add key="CALCULARRETENCIONESIIBB" value="TRUE"/>


  <!--Web-->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <!--Web Api-->
  <add key="DireccionWebApi" value="http://severpiagnc.ddns.net/"/>
  <!--<add key="DireccionWebApi" value="http://w1402600.ferozo.com/api/"/>-->
  <!--<add key="DireccionWebApi" value="http://localhost:51540/"/>-->
  <add key="UsuarioWebApi" value="petrolera"/>
  <add key="PasswordWebApi" value="petrolera"/>  
</appSettings>