<appSettings>
  
<!--no borrar-->
  <add key="LOGOEMPRESA" value="img/logo.png"/>
  <add key="RAZONSOCIALEMPRESA" value="Demo GNC"/>
  <add key="CODIGOCRPC" value="PEAR"/>
  <add key="CUITEMPRESA" value="30-70806114-6"/>

  <add key="FORMATONUMERICO2D" value="0.00"/>
  <add key="FORMATONUMERICO4D" value="0.0000"/>

  <add key="URLARCHIVOSENTE" value="C:\Archivos_Test\"/>
<!--no borrar-->

  <add key="DIASVENCOT" value="100"/>
  <add key="COPIASFT" value="2"/>
  <add key="COPIASPH" value="2"/>
  <add key="COPIASPAGO" value="2"/>
 
  

  <!--INICIO: EMAIL-->
  <add key="MAILFROM" value="sistemas@peargnc.com"/>
  <add key="MAILSERVER" value="smtp.peargnc.com"/>
  <add key="MAILUSERNAME" value="sistemas@peargnc.com"/>
  <add key="MAILPASSWORD" value=""/>
  <add key="PORT" value="587"/>

  <!--Direcciones para recibir notificaciones-->
  <add key="MAILTO_AJUSTES" value=""/>

  <!--FIN:  EMAIL-->

  <!--INICIO:ROLES-->
  <add key="ADMIN" value="F08771BE-07B3-4F91-AD45-7C17ED213272"/>
  <!--FIN:ROLES-->

  <!--INICIO:FLUJOS-->
  <add key="COMPRAS" value="C"/>
  <add key="VENTAS" value="V"/>
  <add key="TESORERIA" value="T"/>
  <add key="INVENTARIO" value="I"/>
  <!--FIN:FLUJOS-->

  <!--INICIO:VALORES-->
  <add key="CHT" value="C63D8F4C-ACAA-4067-B790-2A7F0B0DE9C1"/>
  <add key="CHP" value="AC214808-6F8C-4FFF-8023-6DE6C1BCC7B6"/>
  <add key="RIB" value="A1264ABF-0983-4E27-9DD6-B78412AD2C1B"/>
  <add key="RGS" value="57DE35D6-E5BA-4DED-95D2-7FD0D88072A8"/>  
  <!--FIN:VALORES-->

  <!--INICIO:TIPOS EXCEDENTES RETENCIONES-->
  <add key="COMPROBANTE" value="37C42AF0-77A0-4D8D-AD04-B6935CDEFC1C"/>
  <add key="MENSUAL" value="45B4B590-418F-4E99-B532-6C40BE6924D3"/>
  <add key="ANUAL" value="B33E0A5A-44B3-4511-B3B4-F3E8F5A27336"/>
  <!--FIN:VALORES-->



  <!--***********************FACTURACION ELECTRONICA***********************-->
  <!--CONCEPTO a utilizar el en webservices de la afip,
  Posibles valores: 1 Productos 2 Servicios 3 Ambos-->
  <add key="CONCEPTO" value="1"/>

  <!--CODIGO moneda de la afip
  La DLL de facturacion electronica tiene un metodo 
  GetTiposDeMonedas donde devuelves los codigos y descriocion de los tipos de monedas proporcionados por la afip-->
  <add key="MONEDA" value="PES"/>

  <!--Tipo Doc Comprador 80-CUIT/96-DNI/86-CUIL/87-CDI/89-LE/90-LC/91-CI EXTRANJERA-->
  <add key="TipoDocumento" value="80"/>

  
  <add key="PASSWORDELIMINACION" value="PEAR"/>
  <add key="URLIMAGENESOBLEAS" value="C:\temp\UploadedFiles"/>

</appSettings>